/* header.css content adapted */
header.flex {
  justify-content: space-between;
  padding-inline: 10%;
  padding-top: 1.2rem;
}

header.flex .links .fa-solid {
  margin-right: 0.3rem;
}

header.flex .sign-in {
  margin-inline: 1rem;
}

header.flex .sign-in,
header.flex .register {
  border: 1px solid var(--bodyFont);
  padding: 0.44rem 1rem;
  border-radius: 55px;
  font-size: 0.8rem;
  font-weight: 500;
}

header.flex .sign-in:hover,
header.flex .register:hover,
header.flex .sign-in:hover .fa-solid,
header.flex .register:hover .fa-solid {
  background-color: var(--bodyFont);
  color: var(--blue);
}

header.flex .cart {
  background-color: var(--bodyFont);
  color: var(--blue);
  font-size: 0.9rem;
  padding: 0.44rem 1.1rem 0.44rem 0.6rem;
  border-radius: 55px;
}

header.flex .cart .fa-solid {
  color: var(--blue);
}

header.flex .products-number {
  position: absolute;
  right: 0;
  top: -5px;
  font-size: 0.7rem;
  font-weight: bold;

  background-color: rgb(255, 90, 123);
  height: 20px;
  width: 20px;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

header.flex .fa-bag-shopping {
  font-size: 2rem;
}

@media (width < 600px) {
  header.flex {
    justify-content: center;
    padding-inline: 0;
  }
  header.flex .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  header.flex .logo {
    display: none;
  }
}

header.scroll-down {
  position: fixed;
  right: 0;
  left: 0;
  padding-bottom: 0.5rem;
  background-color: var(--footer-bg);
  color: #fff;
  z-index: 11;
}

header.scroll-down .fa-bag-shopping,
header.scroll-down .fa-user-plus,
header.scroll-down .fa-right-to-bracket {
  color: white;
}

header.scroll-down .logo {
  font-size: 0.8rem;
}

header.scroll-down .logo .fa-bag-shopping {
  font-size: 1.66rem;
}
